.y-table-row-modal-wrap {
    max-width: 600px;
    border-radius: 10px;
}

.y-table-row-span-col-3 {
    grid-column: span 3 / auto;
}

.y-table-row-span-col-2 {
    grid-column: span 2 / auto;
}

.y-table-row-span-col-9 {
    grid-column: span 9 / auto;
}

.y-table-row-modal-label {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.y-table-row-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}